<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webengage.segmentintegration">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.webengage.segmentintegration.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.webengage.segmentintegration.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.webengage.sdk.android.location_tracking"
            android:value="true" />
        <meta-data
            android:name="com.webengage.sdk.android.auto_gcm_registration"
            android:value="true" />

        <meta-data
            android:name="com.webengage.sdk.android.project_number"
            android:value="$GCM/FCM_PROJECT_NUMBER" />
        <meta-data
            android:name="com.webengage.sdk.android.key"
            android:value="YOUR_WEBENGAGE_LICENSE_CODE" />

        <meta-data
            android:name="com.webengage.sdk.android.debug"
            android:value="true" />

        <receiver
            android:name="com.webengage.sdk.android.WebEngageReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.webengage.sdk.android.intent.ACTION" />

                <category android:name="com.webengage.segmentintegration" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.webengage.sdk.android.InstallTracker"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>


        <service android:name="com.webengage.sdk.android.ExecutorService" />
        <service android:name="com.webengage.sdk.android.EventLogService" />

        <activity
            android:name="com.webengage.sdk.android.actions.render.WebEngageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>